<div class="row">
    <div class="col-lg-3">
        <button class="btn btn-default" ui-sref="patient.detail.allergies.edit">New Allergy</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Allergies & Intolerances</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Substance</th>
                    <th>Reaction</th>
                    <th>Severity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aspirin</td>
                    <td>Anaphylaxis</td>
                    <td>Severe</td>
                </tr>
                <tr>
                    <td>Penicillin</td>
                    <td>Rash</td>
                    <td>Moderate</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>