<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Basic</h4>
                    </div>
                    <div class="panel-body">
                        <form ng-hide="vm.isLoading">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>First Name</label>
                                    <input placeholder="e.g. Harry" ng-model="vm.givenName" class="form-control" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Last Name</label>
                                    <input placeholder="e.g. Potter" ng-model="vm.familyName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Middle Name(s)</label>
                                    <input placeholder="e.g. James" ng-model="vm.middleNames" class="form-control" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Preferred Name</label>
                                    <input placeholder="e.g. Hazza" ng-model="vm.preferredName" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Title</label>
                                    <select class="form-control" ng-model="vm.title">
                                        <option ng-repeat="title in vm.titleOptions" value="{{title}}">{{title}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Date of Birth</label>
                                    <input type="date" placeholder="dd/mm/yyyy" ng-model="vm.dateOfBirth" class="form-control">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label>Gender</label>
                                    <select class="form-control" ng-model="vm.gender">
                                        <option ng-repeat="gender in vm.genderOptions" value="{{gender}}">{{gender}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div ng-show="vm.isLoading" class="loader-container"><i class="fa fa-2x fa-spinner fa-pulse loader"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Entitlements</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Medicare Card No.</label>
                                    <input class="form-control" ng-model="vm.medicareCardNumber" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Position</label>
                                    <input placeholder="e.g. 2" class="form-control" ng-model="vm.medicarePosition" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Expiry</label>
                                    <input placeholder="e.g. 02/2017" class="form-control" ng-model="vm.medicareCardExpiry" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>DVA Card No.</label>
                                <input class="form-control" ng-model="vm.dvaCardNumber" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Contact</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-4">
                        <label>Mobile phone</label>
                        <input type="text" class="form-control" placeholder="e.g. 0400 123 123" ng-model="vm.mobilePhone.value" />
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Receive SMS Reminders</label>
                            <div class="checkbox">
                                <input type="checkbox" />Enable
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-6">
                        <label>Home Phone</label>
                        <div class="input-group">
                            <span class="input-group-addon">+61 3</span>
                            <input type="text" ng-model="vm.homePhone.value" class="form-control" placeholder="e.g. 9800 1234" />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-lg-6">
                        <label>Work Phone</label>
                        <div class="input-group">
                            <span class="input-group-addon">+61 3</span>
                            <input type="text" ng-model="vm.workPhone.value" class="form-control" placeholder="e.g. 9800 1234" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Preferred Contact</label>
                            <select ng-model="vm.preferredContact" class="form-control">
                                <option ng-repeat="contact in vm.contactOptions" value="{{contact}}">{{contact}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input ng-model="vm.emailAddress.emailValue" class="form-control" placeholder="e.g. harry@hogwarts.com.au" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Residential Address</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Postal Address</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button ng-disabled="vm.isLoading" ng-click="vm.savePatient()" class="btn btn-success btn-lg" style="margin-right: 10px">
        <i ng-hide="vm.isLoading" class="fa fa-save"></i>
        <i ng-show="vm.isLoading" class="fa fa-pulse fa-spinner"></i> Save
    </button>
    <button class="btn btn-default btn-lg"><i class="fa fa-ban"></i> Cancel</button>
</div>