<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Basic</h4>
                <button class="btn btn-default" ui-sref="patient.detail.demographics.edit"><i class="fa fa-pencil"></i> Edit</button>
            </div>
            <div class="panel-body no-padding">
                <div ng-show="vm.isLoading" class="loader-container">
                    <i class="fa fa-spinner fa-pulse loader fa-2x"></i>
                </div>
                <table ng-hide="vm.isLoading" class="table panel-table">
                    <tr>
                        <td class="table-label top">Full name</td>
                        <td class="top">{{vm.demographicsService.currentPatient.fullName}}</td>
                    </tr>
                    <tr>
                        <td class="table-label">Born</td>
                        <td>{{vm.demographicsService.currentPatient.dateOfBirth | date:'dd/MM/yyyy' || "Not recorded."}} ({{vm.demographicsService.currentPatient.age}})</td>
                    </tr>
                    <tr>
                        <td class="table-label">Gender</td>
                        <td>{{vm.demographicsService.currentPatient.gender || "Not recorded."}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"> 
                <h4 class="panel-title">Contact</h4>
                <button class="btn btn-default" ui-sref="patient.detail.demographics.edit"><i class="fa fa-pencil"></i> Edit</button>
            </div>
            <div class="panel-body no-padding">
                <div ng-show="vm.isLoading" class="loader-container">
                    <i class="fa fa-spinner fa-pulse loader fa-2x"></i>
                </div>
                <table ng-hide="vm.isLoading" class="table panel-table">
                    <tr>
                        <td class="col-lg-4 table-label top">Mobile</td>
                        <td class="top">{{vm.mobilePhone.value || "Not recorded."}}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-4 table-label">Home</td>
                        <td>{{vm.homePhone.value || "Not recorded."}}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-4 table-label">Residential Address</td>
                        <td>{{vm.address.value || "Not recorded."}}</td>
                    </tr>
                    <tr>
                        <td class="col-lg-4 table-label">Email</td>
                        <td>{{vm.emailAddress.emailValue || "Not recorded."}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


