<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Edit Smoking</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Smoking status</label>
                        <div>
                            <label class="radio-inline"> <input type="radio" name="smoking" value="never"> Never smoked </label>
                            <label class="radio-inline"> <input type="radio" name="smoking" value="ex-smoker"> Ex-smoker </label>
                            <label class="radio-inline"> <input type="radio" name="smoking" value="current"> Current smoker </label>
                            <label class="radio-inline"> <input type="radio" name="smoking" value="passive" /> Passive smoker </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cigarettes/day</label>
                        <div>
                            <label class="radio-inline"> <input type="radio" name="measure" /> Less than 5 </label>
                            <label class="radio-inline"><input type="radio" name="measure" /> 5 - 10 </label>
                            <label class="radio-inline"><input type="radio" name="measure" /> 10 - 20 </label>
                            <label class="radio-inline"><input type="radio" name="measure" /> 20 - 30 </label>
                            <label class="radio-inline"><input type="radio" name="measure" /> More than 30 </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-4">
                            <label class="control-label">Age started</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-lg-3 col-md-4">
                            <label class="control-label">Age ceased</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label class="control-label">Notes</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Edit Alcohol</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Daily alcohol intake</label>
                    <div>
                        <label class="radio-inline"> <input type="radio" name="smoking" value="never"> Teetotaler </label>
                        <label class="radio-inline"> <input type="radio" name="smoking" value="ex-smoker"> Ex-smoker </label>
                        <label class="radio-inline"> <input type="radio" name="smoking" value="current"> Current smoker </label>
                        <label class="radio-inline"> <input type="radio" name="smoking" value="passive" /> Passive smoker </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button class="btn btn-lg btn-success save-btn"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-lg btn-default"><i class="fa fa-ban"></i> Cancel</button>
</div>