<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-default" ui-sref="patient.detail.socialhistory.smoking">Edit Smoking</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Smoking</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-default">Edit Alcohol</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Alcohol</h4>
            </div>
        </div>
    </div>
</div>