<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Edit Social Details</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Occupation</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button class="btn btn-success btn-lg save-btn"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-default btn-lg"> Cancel</button>
</div>