<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Add Observation Set</h4>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Heart rate</label>
                                <input class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Blood pressure</label>
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button class="btn btn-success save-btn">Save</button>
</div>