<div class="row">
    <div class="col-lg-12">
        <div class="toolbar">
            <button class="btn btn-default" ui-sref="patient.detail.demographics.edit({patientId : 0})">New Patient</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Today's Patients</h4>
            </div>
            <div class="panel-body">
                <div class="patient-list-item" ng-repeat="patient in vm.patientListService.patientsWithAppointmentToday" ui-sref="patient.detail.demographics.view({patientId: (patient.patientId)})">
                    <div>
                        <span class="list-item-name">{{patient.givenName}}</span>
                        <span class="list-item-name">{{patient.familyName}}</span>
                    </div>
                    <div>
                        <span class="list-item-subtext">{{patient.dateOfBirth | date: 'dd/MM/yyyy'}} ()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Open Patients</h4>
            </div>
            <div class="panel-body">
                <div class="patient-list-item" ng-repeat="patient in vm.patientManagerService.openPatients" ui-sref="patient.detail({patientId: (patient.patientId)})">
                    <div>
                        <span class="list-item-name">{{patient.givenName}}</span>
                        <span class="list-item-name">{{patient.familyName}}</span>
                    </div>
                    <div>
                        <span class="list-item-subtext">{{patient.dateOfBirth | date: 'dd/MM/yyyy'}} ()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
