<div class="row">
    <div class="col-lg-4">
        <h4>Today's Patients</h4>
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <h4>Inbox</h4>
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h4>Practice Pulse</h4>
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>