#patientBanner {
    background: $white;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    display: flex;

    label {
        font-size: $font-size-medium;
        color: $md-grey-500;
        display: inline;
        font-weight: 100;
        margin-right: 0.2em;
        line-height: 30px;
    }

    .content {
        font-size: $font-size-medium;
    }

    .name {
        font-size: 1.5em;
    }
}