
$white: #ffffff;

$material-design-red-900: #B71C1C;

$material-design-blue-900: #0D47A1;
$material-design-blue-800: #1565C0;
$material-design-blue-500: #2196F3;

$material-design-indigo-900: #1A237E;

$material-design-grey-100: #F5F5F5;
$material-design-grey-200: #EEEEEE;
$material-design-grey-300: #E0E0E0;
$material-design-grey-800: #424242;

$material-design-blue-grey-50: #ECEFF1;
$material-design-blue-grey-100: #CFD8DC;
$material-design-blue-grey-200: #B0BEC5;
$material-design-blue-grey-300: #90A4AE;
$material-design-blue-grey-400: #78909C;
$material-design-blue-grey-600: #546E7A;
$material-design-blue-grey-700: #455A64;
$material-design-blue-grey-800: #37474F;

$material-design-green-300: #81C784;
$material-design-green-400: #66BB6A;

$primary-color: $material-design-blue-800;

$list-item-divider: $material-design-grey-300;
$list-item-hover-background: $material-design-grey-100;

$contact-chip-background: $material-design-grey-200;

$border-color: $material-design-grey-300;
