.nav-tabs {
    background: $md-blue-grey-900;
    > li {
        background: $white;
        border: none;
        border-radius: 0px;
        color: $tab-font-color;
    }

    > li.active {
        border: none;
        background: $white;
        margin: -1px;
        a {
            background: $white;
            color: $tab-font-color;
            border: none;
            font-weight: bold;
            &:hover {
                background: $white;
                color: black;
                cursor: pointer;
                border: none;
            }

            &:focus {
                background: $white;
                color: black;
                cursor: pointer;
                border: none;
            }
        }
    }
}