$navbar-default-bg: $material-design-blue-grey-800;
$navbar-border-radius: 0px;
$navbar-default-brand-color: white;

$navbar-margin-bottom: 0;

$navbar-default-link-color: $material-design-blue-grey-100;
$navbar-default-link-hover-color: $white;