@import "_colors.scss";
@import "_variables.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

body {
    background: $md-blue-grey-700;
    padding-top: 50px;
}

.active-top-level {
    color: $md-deep-orange-900 !important;
}

.panel-heading {
    background: $md-blue-grey-50 !important;
}

.static-label {
    color: $md-grey-500;
    display: inline;
    font-weight: 100;
    margin-right: 0.2em;
}

.static-form-group {
    margin-bottom: 5px;
}

#patientBanner {
    border-top: 1px solid $md-blue-grey-100;
    border-bottom: 1px solid $md-blue-grey-100;
    background: $white;
    margin-bottom: 1em;

    label {
        font-size: $font-size-medium;
        color: $md-grey-500;
        display: inline;
        font-weight: 100;
        margin-right: 0.2em;
    }

    .content {
        font-size: $font-size-medium;
    }

    .last-name {
        text-transform: uppercase;
    }
}

.week-container {
    display: flex;
}

.time-slot {
    background: white;
    border-right: thin solid $md-grey-300;
    border-top: thin solid $md-grey-300;
    padding-left: 0.5em;
    padding-right: 0.5em;

    &:hover {
        background: $md-blue-grey-50;
    }
}

.calendar-day {
    flex: 1;
}

#calendar-canvas {
    height: 80vh;
    overflow-y: auto;
    margin-left: -15px;
    margin-bottom: -15px;
    margin-right: -15px;
    margin-top: -15px;
}

.banner-capitalize {
    text-transform: capitalize;
}

.list-item-name {
    font-size: 1.15em;
}

.list-item-subtext {
    color: $md-grey-500;
}

.patient-list-item {
    cursor: pointer;
    padding: 0.5em;

    &:hover {
        background: $md-blue-grey-50;
        border-left: solid 0.25em $md-deep-orange-900;
    }
}

.nav-tabs {
    border-bottom: none;

    > li {
    }
}

.nav-tabs > li > a:hover {
    background-color: $md-blue-grey-50 !important;
    border-radius: 0;
    color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #303136 !important;
}
