@import "_colors.scss";
@import "_variables.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    background: $md-blue-grey-50;
    padding-top: 70px;
}

.active-top-level {
    color: $md-deep-orange-900 !important;
}

.static-label {
    color: $md-grey-500;
    display: inline;
    font-weight: 100;
    margin-right: 0.2em;
}

.static-form-group {
    margin-bottom: 5px;
}

#patientBanner {
    border-top: 1px solid $md-blue-grey-100;
    border-bottom: 1px solid $md-blue-grey-100;
    background: $white;
    margin-bottom: 1em;

    label {
        font-size: $font-size-medium;
        color: $md-grey-500;
        display: inline;
        font-weight: 100;
        margin-right: 0.2em;
    }

    .content {
        font-size: $font-size-medium;
    }

    .last-name {
        text-transform: uppercase;
    }
}


.banner-capitalize {
    text-transform: capitalize;
}
