@import "_colors.scss";
@import "_variables.scss";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "_button-groups.scss";
@import "_navs.scss";
@import "_panels.scss";
@import "_banner.scss";
@import "_calendar.scss";

body {
    background: $md-blue-grey-700;
    padding-top: 50px;
}

.active-top-level {
    color: $md-deep-orange-900 !important;
}

.static-label {
    color: $md-grey-500;
    display: inline;
    font-weight: 100;
    margin-right: 0.2em;
}

.static-form-group {
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: $md-blue-grey-900;
}

.list-item-name {
    font-size: 1.15em;
}

.list-item-subtext {
    color: $md-grey-500;
}

.patient-list-item {
    cursor: pointer;
    padding: 0.5em;

    &:hover {
        background: $md-blue-grey-50;
        border-left: solid 0.25em $md-deep-orange-800;
    }
}